*{
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

li{
    list-style: none;
}

a{
    text-decoration: none;
    color: black;
}

span.resaltado__azul{
    color: #007BEC;
}

button.estandar__btn{
    color: white;
    background-color: #007BEC;
    border: 1px solid #007BEC;
    border-radius: 25px;
    padding: 13px 30px;
    width: 160px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

section.seccion__contenedor{
    margin: 50px 40px;
}

/*NAVBAR*/

nav.navbar{
    padding: 20px;
    box-shadow: 0px 5px 9px gray;
    background-color: white;
}

div.navbar__contenedor{
    display: flex;
    justify-content: space-around;
}

div.navbar__logo{
    display: flex;
    align-items: center;
}

div.navbar__navegacion{
    display: flex;
    align-items: center;
}

ul.navbar__navegacion__list{
    display: flex;
    margin-right: 20px;
}

li.navbar__item{
    margin-right: 15px;
    font-weight: 500;
}

button.btn__principal{
    color: #007BEC;
    background-color: white;
    border: 1px solid #007BEC;
    border-radius: 25px;
    padding: 13px 30px;
    width: 160px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
}

button.btn__principal:hover{
    color: white;
    background-color: #007BEC;
}

h2.titulo{
    font-size: 50px;
    font-weight: 400;
}

/*MAIN*/

main.main__contenedor{
    position: relative;
}

div.seccion__principal img{
    width: 100%;
    object-fit: cover;
}

div.main__informacion{
    position: absolute;
    top: 8%;
    left: 41%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding-right: 90px;
}

h1.header__titulo{
    font-size: 90px;
    text-align: end;
    line-height: 1.1;
    margin-bottom: 20px;
}

p.header__descripcion{
    text-align: end;
    margin-bottom: 20px;
}

/*NOSOTROS*/

div.seccion__sobre_nosotros{
    display: flex;

}

div.sobre-nosotros__Texto{
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.sobre-nosotros__enlaces{
    display: flex;
    flex-direction: column;
}

div.estandar__img{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

div.estandar__img img{
    width: 90%;
    border-radius: 30px;
}

h4.subtitulo{
    margin: 10px 0;
}

p.descripcion{
    text-align: justify;
}

div.sobre-nosotros__enlaces{
    margin-top: 20px;
}

a.enlace__personalizado{
    background-color: #F5F5F5;
    height: 45px;
    margin: 7px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
    border-radius: 20px;
    font-weight: 500;
}

a.enlace__personalizado:hover{
    box-shadow: 2px 3px 8px gray;
}


/*SERVICIOS*/

div.cards__servicio{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

article.card__ind__servicio{
    width: 250px;
    height: 235px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5F5;
    margin: 15px 20px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

article.card__ind__servicio:hover{
    transform: scale(1.1);
    box-shadow: 2px 3px 8px gray;
}


article.card__ind__servicio img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

p.descripcion{
    margin-top: 20px;
}

/*EQUIPO*/

div.cards__equipo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 15px;
}

article.card__ind__equipo{
    width: 250px;
    height: 405px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #F5F5F5;
    margin: 10px 20px;
    border-radius: 15px;
    transition: transform 0.3s ease-in-out;
}

article.card__ind__equipo:hover{
    transform: scale(1.1);
    box-shadow: 2px 3px 8px gray;
}

article.card__ind__equipo img{
    width: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
}

/*RESERVACIÓN/UBICACIÓN*/

div.seccion__contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.seccion__ubicacion{
    display: flex;
    justify-content: center;
    align-items: center;
}

div.contenedor__info{
    display: flex;
    flex-direction: column;
    width: 50%;
}

div.estandar__info{
    width: 50%;
}

div.estandar__img iframe{
    width: 90%;
    border-radius: 30px;
}

div.contenedor__formulario{
    width: 90%;
}

form.form{
    width: 100%;
}

form.form input.name, input.email{
    width: 80%;
    height: 45px;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #F5F5F5;
    padding-left: 18px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 1px 3px gray;
}

div.input__horario{
    display: flex;
    justify-content:flex-start;
    margin-bottom: 30px;
}

input.horario{
    height: 45px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 25px;
    outline: none;
    border: 1px solid #F5F5F5;
    padding-left: 18px;
    padding-right: 15px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 1px 1px 3px gray;
    color: gray;
}

div.horario__fecha{
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-right: 20px;
}

div.horario__hora{
    display: flex;
    flex-direction: column;
    width: 40%;
}


/*FOOTER*/

section.seccion__footer{
    margin-top: 30px;
    background-color: #007BEC;
}

div.footer__contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    color: white;
}

div.footer__info{
    width: 50%;
    margin: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.footer__navegacion{
    width: 50%;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

div.footer__horarios{
    margin: 25px 0;
}

span.resaltado__blanco{
    font-weight: 500;
}

p.copyright__parrafo{
    font-size: 12px;
    margin-bottom: 10px;
}

ul.footer__nav__list{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 0;
}

li.footer__nav__item{
    margin: 10px 0;
}

li.footer__nav__item a{
    color: white;
}

@media (max-width:830px){

    div.navbar__contenedor{
        flex-direction: column;
        align-items: center;
    }

    div.navbar__logo{
        margin: 15px 0;
    }

    div.navbar__navegacion{
        flex-direction: column;
    }

    ul.navbar__navegacion__list{
        align-items: center;
        margin-bottom: 20px;
    }

    /*MAIN*/

    div.main__informacion{
        position: absolute;
        top: 8%;
        left: 41%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 90px;
    }

    h1.header__titulo{
        font-size: 40px;
        line-height: 1.1;
    }

    p.header__descripcion{
        font-size: 14px;
    }

    /*NOSOTROS*/

    div.seccion__sobre_nosotros{
        flex-direction: column;
    }

    div.sobre-nosotros__Texto{
        width: 100%;
    }

    div.estandar__img{
        width: 100%;
        margin-top: 30px;
    }

    /*EQUIPO*/

    article.card__ind__equipo{
        margin-bottom: 20px;
        margin-top: 20px;
    }

    /*UBICACIÓN*/

    div.seccion__ubicacion{
        flex-direction: column;
    }

    div.contenedor__info{
        width: 100%;
    }

    form.form input.name, input.email{
        width: 96%;
    }

    div.input__horario{
        width: 100%;
        justify-content: space-between;
    }

    div.horario__fecha{
        width: 50%;
    }
    
    div.horario__hora{
        width: 50%;
    }

    div.estandar__img iframe{
        margin-top: 20px;
    }

    /*FOOTER*/

    div.footer__contenedor{
        flex-direction: column-reverse;
    }

    p.copyright__parrafo{
        text-align: center;
        margin-bottom: 30px;
    }

}

@media (max-width:630px){

    h2.titulo{
        font-size: 40px;
    }

    /*MAIN*/

    div.main__informacion{
        padding-right: 50px;
    }

    h1.header__titulo{
        font-size: 25px;
        line-height: 1.1;
    }

    p.header__descripcion{
        font-size: 9px;
    }

    /*FOOTER*/

    div.footer__info{
        margin-bottom: 5px;
    }

    p.copyright__parrafo{
        margin-top: 15px;
    }
}